body{
    background-color:#8B307F
    !important;
}

h2{
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;

}

.content{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: #78A7D3;
    border-radius: 10px;
    padding: 30px;
}

.heart-red{
    text-align: right;
    font-size: 25px;
    color:#d32f2f;
}
.heart-grey{
    font-size: 25px;
    color:#ccc;
}
.text-aligin-right{
    text-align: right;
}

.btn-purple{
    background-color: #C5F9D5 !important;
    color: #000 !important;
}

.btn-hide{
    display: none !important;
    margin-top: 30px;
}

.btn-show{
    display: inline-block !important;
    margin-top:30px;
}